# 12 MHz clock
set_io -nowarn clock         35

# UART
set_io -nowarn serial_rx     6
set_io -nowarn serial_tx     9

set_io -nowarn rx_byte[0]    26
set_io -nowarn rx_byte[1]    27
set_io -nowarn rx_byte[2]    25
set_io -nowarn rx_byte[3]    23
set_io -nowarn rx_byte[4]    21
set_io -nowarn rx_byte[5]    11
set_io -nowarn rx_byte[6]    37
